In [1]:
import os
os.chdir('C:/Users/raj3599/Desktop/letsuprade/Day24')

In [2]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [4]:
data = pd.read_csv("C:/Users/raj3599/Desktop/letsuprade/Day24/Dataset/general_data.csv")

In [5]:

data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [6]:
data.tail()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [7]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [8]:
len(data)

4410

In [9]:
data.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [10]:
data.NumCompaniesWorked = np.where(data.NumCompaniesWorked.isna(),np.floor(data.NumCompaniesWorked.mode()),data.NumCompaniesWorked)

In [11]:
data.TotalWorkingYears = np.where(data.TotalWorkingYears.isna(),np.floor(data.TotalWorkingYears.mean()),data.TotalWorkingYears)

In [12]:
data.isna().sum().sum()

0

In [13]:
data = data.drop_duplicates()

In [14]:
data.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeID                   int64
Gender                      object
JobLevel                     int64
JobRole                     object
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked         float64
Over18                      object
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [21]:
le = LabelEncoder()

In [22]:
data.Attrition = le.fit_transform(data.Attrition)

In [23]:
data.BusinessTravel = le.fit_transform(data.BusinessTravel)

In [24]:
data.Department = le.fit_transform(data.Department)

In [25]:
data.EducationField = le.fit_transform(data.EducationField)

In [26]:
data.Gender = le.fit_transform(data.Gender)

In [27]:
data.JobRole = le.fit_transform(data.JobRole)

In [28]:
data.MaritalStatus = le.fit_transform(data.MaritalStatus)

In [29]:
data.Over18 = le.fit_transform(data.Over18)

In [30]:
data = data.astype(np.int64)

# Random Forest

In [31]:
rf_model = RandomForestClassifier(n_estimators = 1000, max_features = 2, oob_score = True)

In [33]:
features = ['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [34]:
x = data[features]
y = pd.DataFrame({'Attrition':data.Attrition})

In [35]:
rf_model.fit(x,y)

C:\Users\raj3599\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [36]:
rf_model.oob_score_

0.9997732426303855

In [37]:
for feature,percent in zip(features,rf_model.feature_importances_) :
    print(feature,percent)

Age 0.09302470248080326
BusinessTravel 0.02704012741133931
Department 0.025316777200048008
DistanceFromHome 0.06669452087250145
Education 0.039003772492724055
EducationField 0.04006785473972473
EmployeeCount 0.0
EmployeeID 0.03792597191449153
Gender 0.01701596709407388
JobLevel 0.03679047060637975
JobRole 0.053687405606804885
MaritalStatus 0.038084450650126715
MonthlyIncome 0.08747575028067021
NumCompaniesWorked 0.0536707079274255
Over18 0.0
PercentSalaryHike 0.06201053983366024
StandardHours 0.0
StockOptionLevel 0.03178329218646391
TotalWorkingYears 0.0837690382968671
TrainingTimesLastYear 0.04316447877178212
YearsAtCompany 0.06743707454253241
YearsSinceLastPromotion 0.04211605280389628
YearsWithCurrManager 0.053921044287684704


From above result we can colnclude
Age has high significance in Attrition determination
MonthlyIncome and TotalWorkingYears has next significance after Age
DistanceFromHome, PercentSalaryHike and YearsAtCompany has next significance
JobRole, NumCompaniesWorked, YearsWithCurrManager has next significance
YearsSinceLastPromotion, StockOptionLevel, MaritialStatus, JObLevel, EducationField, Education, has next significance
Remaning all other variables have least significance
Over18, StandardWorkingHours, EmployeeCount has no significance at all.

# DecisionTree

In [38]:
tree_model = tree.DecisionTreeClassifier(max_depth=5)

In [39]:

x = data[['Age','MonthlyIncome','TotalWorkingYears', 'DistanceFromHome', 'PercentSalaryHike', 'YearsAtCompany', 
                        'JobRole', 'NumCompaniesWorked', 'YearsWithCurrManager', 'YearsSinceLastPromotion']]

In [40]:
y = data.Attrition

In [41]:

tree_model.fit(x,y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [43]:
with open("attrition.dot",'w') as f :
    f = tree.export_graphviz(tree_model,feature_names=['Age','MonthlyIncome','TotalWorkingYears', 'DistanceFromHome', 'PercentSalaryHike', 'YearsAtCompany', 
                        'JobRole', 'NumCompaniesWorked', 'YearsWithCurrManager', 'YearsSinceLastPromotion'],out_file=f)